#title
{
	margin: 12px;
	font-weight: bold;
	font-size: 3.0em;
	color: #FFE5B4;
	text-align: center;
	padding: 13px;
	font-family: arial, serif;
	text-decoration: underline;
}

body
{
	font-family: "Times New Roman", serif;
	background-color: #000000;
}

#navbar
{
	padding: .7em 0px .25em 0px;
	text-align: center;
	border: 3px solid black;
	height: 40px;
	background-color: #191970;
}

#header
{
	position: static;
	top: 0px;
	left: 0px;
	bottom: 0px;
	padding: 0px;
	background-color: black;
	border-top: 2px solid black;
}

a.nav
{
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 1.7em;
	background-color: black;
}

img.aboutmepic
{
	text-align: center;
	padding: 8px;
	height: 385px;
	width: 295px;
	
}

#content
{
	text-align: center;
	
}

#aboutmetext
{
	font-weight: bold;
	font-size: 1.4em;
	color: #FFE5B4;
	text-align: left;
	padding: 14px;
}

