#title
{
	margin: 12px;
	font-weight: bold;
	font-size: 3.5em;
	color: #FFE5B4;
	text-align: left;
	padding: 15px;
	font-family: arial, serif;
	text-decoration: underline;
}

body
{
	font-family: "Times New Roman", serif;
	background-color: #000000;
}

#navbar
{
	padding: .9em 0px .3em 0px;
	text-align: center;
	border: 3px solid black;
	height: 45px;
	background-color: #191970;
}



a.nav
{
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 2.0em;
	background-color: black;
}

a.nav:hover
{
	color: blue;
	
}

img.aboutmepic
{
	padding: 8px;
	height: 405px;
	width: 315px;
}

#content
{
	text-align: center;
}

#aboutmetext
{
	font-size: 1.4em;
	color: #ADD8E6;
	text-align: left;
	padding: 14px;
}

#slidecaption
{
	font-size: 2.2em;
	color: #AAFF00;
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
}

#travelsection
{
	text-align: left;
}

img.travelimages
{
	padding: 8px;
	height: 405px;
	width: 315px;
}


#bottommessage
{
	color: white;
	
}